*{
    margin: 0;
    padding:0;
    /*box-sizing: inherit;*/
}
html{
    box-sizing: border-box;
    font-size: 15px;
}
#wrapper{
    height:auto;
    text-align: right;
}
#sidebar{
    height: 100%;
    width: 15%;
    grid-area: sidebar;
    background: linear-gradient(326deg, rebeccapurple 0%, rgba(164, 80, 139, 0.8) 74%);
    position: fixed;
}
nav{
    text-align: center;
}
.brand{
    padding: 2.5rem 0;
    background: linear-gradient(326deg, rebeccapurple 0%, rgba(164, 80, 139, 0.8) 74%);
}

.navLink{
    font-size: 1.6rem;
    color: lightblue;
    text-decoration: none;


}
#mainContent{
    background: linear-gradient(326deg, rebeccapurple 0%, rgba(164, 80, 139, 0.8) 74%),
    url("grizz.jpg");
    background-size: cover;
    text-align: center;
    color: lightblue;
    margin-left: 15%;


}
#footer{
    text-align: center;
    background: linear-gradient(326deg, rebeccapurple 0%, rgba(164, 80, 139, 0.8) 74%);
    padding: 30px;
}
#about{
    padding: 3rem;
    gap: 20px


}
#skill{
    padding: 3rem;
    /*border: 2px solid grey;*/
}
#project{
    padding: 3rem;
    /*border: 2px solid grey;*/
}
#education{
    padding: 3rem;
    /*border: 2px solid grey;*/

}
#resume{
    padding: 3rem;
    /*border: 2px solid grey;*/
}
#ref{
    text-align: center;
}

